.mainbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    width: 100%;
    font-weight: 300;
    border-radius: 0;
    font-size: 22px;
    font-family: "Inter",sans-serif;
    border-bottom: 1px solid #e6e6e6;
    overflow-y: auto; 

}

.messages-left{
    background: #ebebeb;
    max-width: 75%;
    border-radius: 7px;
    height: fit-content;
    padding: 0 20px;
    margin: 10px;
    margin-right: auto;
}
.messages-right{
    background: #0a80ff;
    max-width: 75%;
    border-radius: 7px;
    height: fit-content;
    padding: 0 20px;
    margin: 10px;
    color: white;
}

.message-content {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}




